---
layout: blog-page
title: Our Latest Articles from the road
permalink: /blog/
theme: dark
breadcrumb:
  - url: /
    title: Home
  - url: /blog/
    title: blog
    active: true
image:
    url: banners/blog-intro.jpg
    title: Welcome to our Blog
    description: "TRAVEL. EXPLORE. CREATE.<br />Latest Adventures, Lessons, Cool Ideas, Digital and Lifestyle Articles."
    height: 650px    
comments: false
#video-html5:
#  image: videos/lasvegas-poster.jpg
#  mp4: videos/lasvegas.mp4
#  webm: videos/lasvegas.webm
#  height: 600px
#  title: This is a Video title
#  description: This is a Video description
#slider:
#  height: 400px
#  slides: 
#  - title: Freshness Photo
#    description: This is a sub description
#    url: banners/w1.jpg
#    button: test
#    button-url: /#
#  - title: Freshness Photo
#    url: banners/w2.jpg
#  - title: Freshness Photo
#    url: banners/w3.jpg
---

<section class="body-content">

  <div class="page-content-sm">
    <div class="container">
    {% assign excluded = '' %}

    {% assign section = 'Featured Articles' %}
    {% assign target = 'featured' %}
    {% assign order = 'reverse' %}
    {% assign total = 3 %}

    {% include blog/section.html %}

    {% assign section = 'Latest Articles' %}
    {% assign target = '' %}
    {% assign total = 10 %}

    {% include blog/section.html %}

    {% comment %}

    {% assign section = 'For Digital Nomads' %}
    {% assign target = 'digital nomads' %}
    {% assign total = 3 %}

    {% include blog/section.html %}

    {% assign section = 'For Traveling Yogis' %}
    {% assign target = 'yoga' %}
    {% assign total = 3 %}

    {% include blog/section.html %}

    {% assign section = 'Featured Apps' %}
    {% assign target = 'featured app' %}
    {% assign total = 3 %}

    {% include blog/section.html %}    

    {% assign section = 'App Development' %}
    {% assign target = 'app development' %}
    {% assign total = 9 %}

    {% include blog/section.html %}    

    {% assign section = 'Archive' %}
    {% assign target = '' %}
    {% assign total = 100 %}

    {% include blog/section.html %}    

    {% endcomment %}


    </div>
  </div>
</section>
