            <div class="page-content" id="contact">

                <div class="container">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <form class="contact-comments" method="post" action="https://formspree.io/enquiries@gdaydigitalnomads.com">
                                <div class="row">

                                    <div class="col-md-6 ">

                                        <div class="form-group">
                                            <input type="text" name="name" class=" form-control" placeholder="Name *" maxlength="100" required data-error="You must enter name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class=" form-control" placeholder="Email *" maxlength="100" required data-error="Invalid email address!">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="phone" name="phone" class=" form-control" placeholder="Phone" maxlength="20">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <div class="form-group">
                                            <input type="text" name="subject" id="subject" class=" form-control" placeholder="Subject" maxlength="100">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="comments" class="cmnt-text form-control" placeholder="Comments" maxlength="500"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group full-width">
                                            <button type="submit" class="btn btn-small btn-dark-solid">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="url" value="{{ page.url}}">
                                <input id="user-meta" type="hidden" name="user-meta" val=''>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
