                        <!--subscribe default box start-->
                        <div class="subscribe-box gray-bg round-5 m-bot-100">
                            <div class="subscribe-info">
                                <h4>subscribe to get in touch</h4>
                                <span>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. </span>
                            </div>
                            <div class="subscribe-form">
                                <form class="form-inline mailchimp">
                                    <input id="sf-1" type="email" class="form-control" placeholder="Enter your email address">
                                    <button type="submit" class="btn btn-medium btn-rounded btn-dark-solid text-uppercase">subscribe</button>
                                    <label for="sf-1"></label>
                                </form>
                            </div>
                        </div>
                        <!--subscribe default box end-->

                        <!--subscribe border box start-->
                        <div class="subscribe-box border-box round-5 m-bot-100">
                            <div class="subscribe-info">
                                <h4>subscribe to get in touch</h4>
                                <span>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. </span>
                            </div>
                            <div class="subscribe-form">
                                <form class="form-inline mailchimp">
                                    <input id="sf-2" type="email" class="form-control" placeholder="Enter your email address">
                                    <button type="submit" class="btn btn-medium btn-rounded btn-dark-solid text-uppercase">subscribe</button>
                                    <label for="sf-2"></label>
                                </form>
                            </div>
                        </div>
                        <!--subscribe border box end-->


                        <!--subscribe dark box start-->
                        <div class="subscribe-box dark-bg round-5">

                            <div class="subscribe-info">
                                <h4 class="light-txt ">DON’T WANNA PURCHASE NOW? </h4>
                                <span class="light-txt ">subscribe to get in touch </span>
                            </div>
                            <div class="subscribe-form">
                                <form class="form-inline">
                                    <input type="text" class="form-control" placeholder="Enter your email address">
                                    <button type="submit" class="btn btn-medium btn-rounded btn-theme-color text-uppercase">subscribe</button>
                                </form>
                            </div>
                        </div>
                        <!--subscribe dark box end-->