<!--hero section-->
<div id="fullscreen-banner" class="full-banner vertical-align banner-app" style="min-height:650px">
	<div class="container-mid m-top-50">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="banner-title light-txt">
						<h1 class="text-uppercase m-bot-10 inline-block">A travelers blog</h1>
						<h4 class="text-uppercase m-bot-10 inline-block light-txt">Travel. Explore. Create.</h4>
						<h4 class="text-uppercase m-bot-30 inline-block light-txt">Socially conscious Digital Solutions.</h4>
						<div class="m-top-10 m-bot-20 inline-block">
							<!--<a data-scroll href="#contact" class="contactsubmit btn btn-medium btn-border-secondary-color" subject-line="Hi, I have an awesome idea...">I have an idea &nbsp;&nbsp;<i class="fa fa-lightbulb-o"></i></a>-->
							<a data-scroll href="/#contact" class="contactsubmit btn btn-medium btn-border-secondary-color " subject-line="Hi, I'd like to discuss something with you">Contact us &nbsp;&nbsp;<i class="fa fa-lightbulb-o"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-5" style="padding:0px">
				    <div class="full-width video-container">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/c1dTVm_x7qY" allowfullscreen></iframe>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!--<div class="app-device"><img class="wow fadeInUp" src="{{site.static-image-url }}/app/banner_device.png" alt="" /></div>-->


<!--hero section-->
