<!--hero section-->
<div id="fullscreen-banner" class="full-banner vertical-align banner-app">
	<div class="container-mid">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="banner-title light-txt">
						<h1 class="text-uppercase m-bot-10 inline-block">A travelers blog</h1>
						<h4 class="text-uppercase m-bot-10 inline-block light-txt">see the world. change the world.</h4>
						<h4 class="text-uppercase m-bot-30 inline-block light-txt">create your solution for the world.</h4>
						<div class="m-top-100 inline-block">
							<a data-scroll href="#contact" class="contactsubmit btn btn-medium btn-border-secondary-color" subject-line="Hi, I have an awesome idea...">I have an idea &nbsp;&nbsp;<i class="fa fa-lightbulb-o"></i></a>
							<a data-scroll href="/#featured-apps" class="btn btn-medium btn-border-secondary-color ">our featured apps &nbsp;&nbsp;<i class="icon-mobile"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="app-device"><img class="wow fadeInUp" src="{{site.static-image-url }}/app/banner_device.png" alt="" /></div>
</div>
<!--hero section-->