/* test css */

.camelcase {
	text-transform: none;
}

.dark-feature {

	h1,h2,h3,h4,h5 {
		color: #CCCCCC;
	},
	p,ul,.desc {
		color: #7e7e7e;
	}
}
.dark-feature-bg {
	background-color: #222222;
}
.blue-feature-bg {
  background-color: #296d79;
}
.theawakening {
    background-color: rgba(0,0,0,.4);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/app/sound-waves.jpg")!important;
}
.berryberry {
    background-color: rgba(0,0,0,.7);
    background-blend-mode: multiply;
    //background-attachment: fixed;
    background-image: url("../img/app/berryberry.png")!important;
}

.dark-feature-parallax {
	background-color: rgba(0,0,0,.7);
   	background-blend-mode: multiply;
   	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-image: url("../img/parallax/1.jpg")!important;
}

.playful-feature-parallax {
	background-color: rgba(0,0,0,.4);
   	background-blend-mode: multiply;
   	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	padding: 150px 0;
  	background-position: 50% 50%;
  	background-image: url("../img/parallax/18.jpg")!important;
}

.custom-parallax-1 {
	background-image: url("../img/banner/bs/bs3.jpg")!important;
}

.custom-parallax-2 {
  background-image: url("../img/homepage/website_design.jpg")!important;
}

.custom-parallax-3 {
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0px 0px;  
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.4), rgba(0,0,0,1)) /* For Safari 5.1 to 6.0 */, url("../img/services/web-design-heroshot.jpg");
  background-image: -o-linear-gradient(right, rgba(0,0,0,0.4), rgba(0,0,0,1)) /* For Opera 11.1 to 12.0 */, url("../img/services/web-design-heroshot.jpg");
  background-image: -moz-linear-gradient(right, rgba(0,0,0,0.4), rgba(0,0,0,1)) /* For Firefox 3.6 to 15 */, url("../img/services/web-design-heroshot.jpg");
  background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,1)) /* Standard syntax (must be last) */, url("../img/services/web-design-heroshot.jpg");
    
}
.custom-parallax-4 {
  background-image: url("../img/banner/featured-apps1.jpg")!important;
}
.custom-parallax-5 {
  background-image: url("../img/banner/featured-apps2.jpg")!important;
}
.custom-parallax-6 {
  background-image: url("../img/banner/featured-apps3.jpg")!important;
}

.page-title.about-me-background {
    background-image: url(../img/profiles/jordan-rancie-banner.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
    height: 630px;
}
.page-title.about-us-background {
    background-image: url(../img/profiles/jordan-audrey-banner.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    height: 630px;
}

.pm-bg {
  background-attachment: absolute;
  right: 150px;
  top: 150px;
  background-repeat: no-repeat;
  background-image: url("../img/services/project-management.jpg")!important;
}

.border-left-bottom h1,
.border-left-bottom h2,
.border-left-bottom h3,
.border-left-bottom h4,
.border-left-bottom h5,
.border-left-bottom h6
{
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.border-left-bottom h1:after,
.border-left-bottom h2:after,
.border-left-bottom h3:after,
.border-left-bottom h4:after,
.border-left-bottom h5:after,
.border-left-bottom h6:after
{
    width: 100px;
    height: 2px;
    background: $theme-color-default;
    position: absolute;
    left: 0;
    bottom: -2px;
    margin-left: 0;
    content: '';
}




.social-link  a {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    margin: 5px;
}



.social-link.circle a {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.social-link.circle a:hover {
    background: #fff;
    color: #222;
    border: 1px solid transparent;
}


#img-carousel .item img {
    display: block;
    width:auto;
    height: 100%;
}

#img-carousel .item {
    height: 100px;
    width:auto;
}

#img-carousel .owl-item {
   width:auto!important;
}

.ico-nav i {
    float: left;
    position: absolute;
    left: 10px;
    top: 13px;
    color: #000000;
    transition: color .3s, background .3s;
}
.ico-nav:hover {
  i {
    color: #FFFFFF!important;

  }
}

li .ico-nav a {
    padding: 10px 25px 10px 35px!important;
}

#owl-slider .owl-buttons {
    left: 30px;
    right: auto;
}

.services-slider-1 {
  background-image: url('../img/services/01.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 600px;
}
.services-slider-2 {
  background-image: url('../img/services/02.jpg');
  background-position: 50% 50%;
  background-size: cover;  
  height: 600px;
}
.services-slider-3 {
  background-image: url('../img/services/03.jpg');
  background-position: 50% 50%;
  background-size: cover;  
  height: 600px;
}
.generic-slider {
  background-position: 50% 50%;
  background-size: cover;  
}

.featured-item.feature-bg-box .icon i {
    color: $theme-color-default!important;
}


a:hover .featured-item.feature-bg-box .icon {
    color: #FFF!important;
    background: #222222;
}
a:hover .featured-item.feature-bg-box .icon i {
    color: #FFF!important;
}


@media screen and (max-width: 768px) {

    //header {
    //    top:0;
    //}
    .page-title{
        margin-top: 0px!important;
    }
  }


/* ----------------------------------------------------------------
   big background page title
-----------------------------------------------------------------*/
/*
.about-me {
    background-image: url(../img/profiles/02.jpg);
    background-position: 50% 0;
    background-size: cover;
    //background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 200px 0;
    height: 630px;
}
*/
.contact-comments .cmnt-text {
    height: 150px;
}

.timeline-item.alt h1,
.timeline-item.alt h2,
.timeline-item.alt h3,
.timeline-item.alt h4,
.timeline-item.alt h5,
.timeline-item.alt p {
    text-align: right;
}

h4.timeline-title {
    margin:0;
    color:#333333;
    font-size:16px;
    margin:0 0 5px;
    text-transform:uppercase;
}

.timeline-item h5 {
  margin: 30px 0 0 0;
}

.timeline-item p {
  line-height: 20px;
  padding-top: 20px;
}
.timeline-item p.summary {
  font-weight: bold;
  padding: 5px 0 40px 0;
}
.timeline-item p.summary.light {
  font-weight: normal!important;
}
.project {
  color: $theme-color-default!important;
}
.p-top-10 {
  padding-top: 10px !important;
}
.p-top-20 {
  padding-top: 20px !important;
}
.p-top-30 {
  padding-top: 30px !important;
}

.p-bot-10 {
  padding-bottom: 10px !important;
}
.p-bot-20 {
  padding-bottom: 20px !important;
}
.p-bot-30 {
  padding-bottom: 30px !important;
}
.m-bot-50 {
  margin-bottom: 50px !important;
}
.m-bot-30 {
  margin-bottom: 30px !important;
}
.m-bot-10 {
  margin-bottom: 10px !important;
}

.custom-input {
  color: #FFAA00;
  font-weight: bold;
}

.btn-border-secondary-color {
  border:1px solid $theme-color-secondary;
  color: $theme-color-secondary;
}
.btn-border-secondary-color:hover {
    color: #fff;
    background: $theme-color-secondary;
}

.flex-control-thumbs li .flex-active {
  border: 1px solid $theme-color-secondary;
}

.portfolio-align.center {
    position: absolute;
    left: 50%;
}

.portfolio-nav.center {
    position: relative;
    left: -50%;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.heading-title-alt.heading-border-bottom {
  margin-bottom: 30px;
}

.widget .post-single .post-desk {
  height: inherit;
}
.widget {
  margin-bottom: 30 !important;
}
.post-single .post-desk {
  height: inherit;
}
.post-list .post-single .post-desk p,
.post-list-aside .post-single .post-desk p {
  margin: 0 0 20px;
}
.post-single .post-cat li a:after{
  content: none!important;
}

.heading-title-alt2 {
    margin-bottom: 30px;
}

.social-link.circle.dark,
.social-link.circle.dark a {
  color: #000;
}

.social-link.circle.dark a {
    border: 1px solid #000;
}

.contact-comments .cmnt-text {
    height: 115px!important;
}

.widget p {
  line-height: 23px
}

a.subtitle {
  text-transform: none!important;;
  color: #666!important;;
  font-size: 12px!important;
}

.vertical-align .container-top{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 200;
}
.page-content-sm.compact {
    display: block;
    padding-bottom: 0px!important;
}
.secondary-theme-color {
  color: $theme-color-secondary!important;
}

@media (min-width: 350px) {
  .app-img-bottom-right,
  .app-img-bottom {
    min-height: 250px;
  }
}
@media (min-width: 500px) {
  .app-img-bottom-right,
  .app-img-bottom {
    min-height: 350px;
  }
}
@media (min-width: 630px) {
  .app-img-bottom-right,
  .app-img-bottom {
    min-height: 450px;
  }
}

@media (min-width: 1012px) {
  .app-img-bottom-right,
  .app-img-bottom {
    min-height: 550px;
  }
}

.app-img-bottom img {
  position: absolute;
  left:15%;
  bottom: 0;
}
.app-img-bottom-right img {
  position: absolute;
  right:5%;
  bottom: 0;
}

.banner {
  background-position: 0 0!important;
}