        <section class="page-title background-title dark banner" style=" background-image: url('{{ site.image-url }}/{{ image.url}}'); {% if image.height and image.height != ''%}min-height: {{ image.height }}!important; overflow: hidden;{% endif %}">
            <div class="container-mid">
                <div class="container">
                    <div class="banner-box">
                        <h2 class="text-uppercase">{{ image.title }}</h2>
                        <h4 class=light-txt>{{ image.description}}</h4>
                    </div>
                </div>
            </div>
            {% if image.location %}<span class="text-uppercase light-txt" style="position: absolute; bottom: 20px; left: 20px;">Photo: {{ image.location }}</span>{% endif %}
        </section>