      {% assign section_ids = '' %}
      {% assign count = 0 %}
      {% assign counter = 0 %}
      {% assign posts = site.posts %}
      {% if order and order == 'reverse' %}
        {% assign posts = posts | reverse %}
      {% endif %}
      {% for post in posts %}
      {% unless excluded contains post.id %} 
      {% assign tags = post.tags | join: ',' | downcase | append: ',' %}
      {% if tags contains target + ',' %} 
        <!-- MATCH FOR {{ post.id }} with tags {{ post.tags }}-->
        {% assign count = count | plus: 1 %}
        {% assign section_ids = section_ids | append: post.id | append: ',' %}
        {% assign excluded = excluded | append: post.id | append: ',' %}
        {% if count >= total %}
          {% break %}
        {% endif %}
      {% endif %}
      {% endunless %}
      {% endfor %}

    
{% if count > 0 %}
    <!-- 3 articles - 3 columns -->
    {% if section != '' %}
      <div class="row ">
        <div class="col-md-12">
            <!-- Heading -->      
            <div class="heading-title-alt2">
                <h4 class="text-uppercase heading-border-bottom">{{ section }}</h4>
            </div>
          </div>
      </div>            
    {% endif %}
  
      {% for post in posts %}
      {% if section_ids contains post.id %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 %}
      <div class="row ">
        <div class="post-list">
        {% endif %}
          <div class="col-md-4">
            <div class="post-list">
            <div class="post-single">
              <ul class="post-cat">
                {% for cat in post.categories %}
                <li><a href="/blog/{{ cat | downcase }}/">{{ cat | strip | replace: '-', ' '}}{%if forloop.last == false %},{% endif %} </a></li>
                {% endfor %}
              </ul> 
            <!-- Youtube, embedded, gallery, thumbnail, feature image -->
              <div class="post-img">


              {% if post.video-embedded and post.video-embedded.related and post.video-embedded.related == true %}
                  <!-- Embedded video here -->
                  {% assign video = post.video-embedded %}
                  {% include blog/video-embedded.html %}
              {% elsif post.gallery and post.gallery.related %}
              <!-- Embedded gallery here -->
                  {% include blog/gallery-post.html %}
              {% elsif post.images %}
              <!-- Embedded image here -->
                  {% assign images = post.images | reverse %}
                  {% assign image = '' %}

                  {% for img in images %}
                      {% if img.type =='related' %}
                          {% assign image = img %}
                          {% assign title = img.title %}
                          {% unless img.title %}
                            {% assign title = image.url | split: '_' | last | split: '.' | first | replace: '--', ', ' | replace: '-', ' ' | replace: '/', ' ' %}
                          {% endunless %}
                          <!-- Found related image - we should break now -->                                                    
                          {% break %}
                      {% elsif img.type =='thumbnail' %}
                          {% assign image = img %}
                          {% assign title = img.title %}
                          {% unless image.title %}
                            {% assign title = image.url | split: '_' | last | split: '.' | first | replace: '--', ', ' | replace: '-', ' ' | replace: '/', ' ' %}
                          {% endunless %}                                                  
                          <!-- Found thumb image -->                                                    
                      {% endif %}
                  {% endfor %}

                  {% if image != '' %}
                  <!-- found {{image.type}} image -->                
                            {% if post.alt-title %}
                            <div class="post-img title-img">
                              <a href="{{ post.url }}">
                              <img src="{{ site.post-image-url }}/{{ image.url }}" alt="{{ title }}">
                              <div class="info">{{ post.alt-title}}</div>
                              </a>
                            </div>
                            {% else %}
                            <a href="{{ post.url }}">
                            <img src="{{ site.post-image-url }}/{{ image.url }}" alt="{{ title }}">
                            </a>
                            {% endif %}
                  {% else %}
                  <!-- no image found -->
                  {% endif %}
              {% endif %}

              
              </div>             
              <div class="post-desk p-top-20">
                <h4 class="text-uppercase"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <div class="date">
                  <a href="/profiles/{{ post.author | downcase | replace: ' ', '-'}}.html" class="author">{{ post.author }}</a> {{ post.date | date_to_long_string }}
                </div>
                <p>{{ post.description }}</p>
                <a href="{{ post.url }}" class="btn btn-extra-small btn-dark-border btn-transparent "> Read More</a>
                                
                
              </div>
            </div>
            </div>
          </div>
        {% assign counter = counter | plus: 1 %}
        {% assign mod = counter | modulo:3 %}
        {% if mod == 0 or counter == count %}
        </div>
      </div>
        {% endif %}
        {% if counter == count %}
          {% break %}
        {% endif %}
      {% endif %}
      {% endfor %}

    {% if page.url contains '/blog/' %}
    {% else %}
    <div class="row">
      <div class="inline-block text-center">
        <a href="/blog/" class="p-read-more">View all articles<i class="icon-arrows_slim_right"></i></a>
      </div>
    </div>
    {% endif %}

{% endif %}

