   <!--page title start-->
        <section class="page-title about-us-background dark" id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 p-top-30">
                        <h1 class="text-uppercase theme-color">Jordan Rancie</h1>
                        <span class=" light-txt"> Information Technology Expert and Entrepreneur.</span>
                        <div class="m-top-30">
                            <a href="/profiles/jordan-rancie.html" class="btn btn-small btn-rounded btn-theme-color  "> FULL BIOGRAPHY </a>
                            <a data-scroll href="/#contact" subject-line="Hi, I'd like to get in touch with Jordan" class="btn btn-small btn-rounded btn-light-border contactsubmit"> Contact Me </a>
                        </div>
                        </div>
                        <div class="col-md-6 col-md-offset-6 p-top-80">
                        <h1 class="text-uppercase theme-color">Audrey Cassim</h1>
                        <span class="light-txt">Traveler, Yogi and Musician.</span>
                        <div class="m-top-30">
                            <a href="/profiles/audrey-cassim.html" class="btn btn-small btn-rounded btn-theme-color  "> FULL BIOGRAPHY </a>
                            <a data-scroll href="/#contact" subject-line="Hi, I'd like to get in touch with Audrey" class="btn btn-small btn-rounded btn-light-border contactsubmit"> Contact Me </a>
                        </div>                        
                    </div>
                </div>
            </div>
            <span class="text-uppercase light-txt"  style="position: absolute; bottom: 20px; right: 20px;">Photo: Temple of Truth, Pattaya, Thailand</span>
        </section>
        <!--page title end--

        <!--body content start-->
        <section class="body-content">

            <div class="post-list-aside left-side">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 m-bot-20">
                            <div class="responsive-img fit-img">
                                <img src="{{ site.static-image-url }}/profiles/guitar.jpg" alt=""/>
                            </div>
                        </div>                    
                        <div class="col-md-6">
                            <div class="post-desk">
                                <div>
                                    <span class="post-sub-title text-uppercase m-bot-30">who am i</span>
                                    <h4 class="text-uppercase">
                                        I am a passionate IT Enthusiast and Entrepreneur
                                    </h4>
                                </div>

                                <p>
                                    With 15 years experience in the IT Industry across many sectors working in many high-pressure jobs I have come to the understanding that passion for your projects and a good work-life balance are the two ingredients for a thriving business.
                                </p>
                                <span class="post-sub-title text-uppercase m-bot-20"><b>Things I enjoy</b></span>
                                <ul class="m-bot-30 circle-list inline-block">
                                    <li>Helping new businesses grow exciting ideas.</li>
                                    <li>New Socially Conscious Apps that can become a catalyst for positive change.</li>
                                    <li>Diving into really interesting technical projects.</li>
                                    <li>Open Source - The IT Nerds way of collaboration.</li>                                    
                                    <li>Guitar. Food.</li>                                                                          
                                </ul>

                                <div>
                                    <a href="/profiles/jordan-rancie.html" class="btn btn-small btn-rounded btn-theme-color  "> Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-list-aside left-side p-top-50 gray-bg">
                <div class="container">
                    <div class="row">                
                        <div class="col-md-6">
                            <div class="post-desk">
                                <div>
                                    <span class="post-sub-title text-uppercase m-bot-30">who am i</span>
                                </div>

                                <p>Travel for me is a slow journey to discover others and myself. I love spend time to observe the nature, eat with locals and dancing around fire camp.</p>
        
                                <span class="post-sub-title text-uppercase m-bot-20"><b>Most important things to me</b></span>

                                <ul class="m-bot-30 circle-list inline-block">
                                    <li>Enthusiasm, i believe positive attitude attract positive life.</li>
                                    <li>Curiosity, never stop to learn, i am a learnaholic.</li>
                                    <li>Unconditional love, my goal everyday.</li>
                                </ul>

                                <div>
                                    <a href="/profiles/audrey-cassim.html" class="btn btn-small btn-rounded btn-theme-color  "> Read More </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 m-bot-20">
                            <div class="responsive-img fit-img">
                                <img src="{{ site.static-image-url }}/profiles/audrey-yoga.jpg" alt=""/>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>            
        </section>