		<!--body content start-->
		<section class="body-content" id="featured-apps">

			<!--hero section-->
			<div class="full-banner vertical-align custom-parallax-4" style="height: 818px;">
				<div class="container-mid">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center p-top-50">
								<h1 class="text-uppercase theme-color m-bot-10 text-center">Featured Apps and cool ideas</h1>
								<h3 class="text-uppercase m-top-0">unlimited possibilities for socially conscious apps</h3>
                            	<p>G'Day Digtial Nomads was established to sponsor and create apps and ideas that can become catalsts for positive change.<br />No limits. Only aiming to make the world a better place through digital mediums.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 col-md-offset-7 p-top-50">
								<div class="post-desk">
			                        <div class="embed-responsive- vdo-wrap- embed-responsive embed-responsive-4by3">
			                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QR836G4Av2I" allowfullscreen></iframe>
			                         </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

	    	<!--feature-->
            <div class="page-content-sm compact dark-feature dark-feature-bg" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
							<div class="heading-title-alt p-top-20">
								<h3>P2P SOLAR : Shared Renewable Energy</h3>
								<p>
									A platform for communities to create solar powered energy co-ops.<br/>
									Buy and sell solar kWh directly between neighbours and friends.
								</p>
							</div>

							<div class="featured-item feature-outline m-bot-30">
								<div class="icon"><i class="fa fa-bar-chart"></i></div>
									<div class="title"><h4 class="m-bot-10">Smart Energy Trading</h4>
								</div>
								<div class="desc">Purchase Solar Units optimally, or with Futures Contracts. Get discounted 'Grid Energy' using bulk purchasing within your circle.</div>
							</div>
							<div class="featured-item feature-outline m-bot-30">
								<div class="icon"><i class=" fa fa-dollar"></i></div>
									<div class="title"><h4 class="m-bot-10">Solar Energy Income</h4>
								</div>
								<div class="desc">Reduced cost for Solar panel purchasing with investment capital. Find energy consumers easily on an open market platform.</div>
							</div>       
							
							<div class="m-top-10 inline-block">
								<a href="/coming-soon/" class="btn btn-small btn-border-secondary-color ">Support &nbsp;&nbsp;<i class="fa fa-bitcoin"></i></a>
								<a href="/coming-soon/" class="btn btn-small btn-border-secondary-color ">More Info</a>	                            							
							</div>								                
							
                        </div>

                        <div class="col-md-6">
                            <div class="responsive-img  app-img-botto">
								<img src="{{ site.static-image-url }}/app/p2p-solar.png" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--feature-->

	    	<!--feature-->
            <div class="page-content-sm compact blue-feature-bg" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="responsive-img app-img-bottom-right">
								<img src="{{ site.static-image-url }}/app/onevote.png" alt="" />
                            </div>
                        </div>                    
                        <div class="col-md-6 ">
							<div class="heading-title-alt p-top-20">
								<h3 class="secondary-theme-color">OneVote : Digital Democracy</h3>
								<p class="light-txt">Evergything we need for a working one vote one person Democracy to affect change in your Government. Federal to Local Government, OneVote makes your vote counts towards the changes you want to see.</p>
							</div>

							<div class="featured-item feature-outline m-bot-30">
								<div class="icon light-txt"><i class="light-txt fa fa-institution"></i></div>
									<div class="title"><h4 class="m-bot-10 light-txt">Full Tranparency : Integrated with Government</h4>
								</div>
								<div class="desc light-txt">Vote on Bills, Legislation and Public Opinion as they are presented your Elected Official in The Senate or Parliament. Openly engage with your Officials on these matters. See how your vote compares.</div>
							</div>
							<div class="featured-item feature-outline m-bot-30">
								<div class="icon"><i class="fa fa-lock light-txt"></i></div>
									<div class="title"><h4 class="m-bot-10 light-txt">100% Secure. Open Source.</h4>
								</div>
								<div class="desc light-txt">Backed using <strong><a class="secondary-theme-color" title="The blockchain is an incorruptible digital ledger of transactions that can be programmed to record not just financial transactions but virtually everything of value.">Blockchain technology</a></strong>, ensures your vote is valid.<br />
								Open-Source API means it can be adapted to any form of governance from Schools and Universities to Farming Co-Ops.</div>
							</div>
							
							<div class="m-top-10 inline-block">
								<a href="/coming-soon/" class="btn btn-small btn-border-secondary-color">Support &nbsp;&nbsp;<i class="fa fa-bitcoin"></i></a>
								<a href="/coming-soon/" class="btn btn-small btn-border-secondary-color ">More Info</a>	                            							
							</div>								                
							
                        </div>


                    </div>
                </div>
            </div>
            <!--feature-->

    	<!--feature-->
            <div class="page-content-sm compact dark-feature theawakening" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
							<div class="heading-title-alt p-top-20">
								<h3 class="light-txt p-bot-30">The AWAKENING : Shared Vibrations</h3>
								<p class="light-txt">An open-source platform to share Image, Audio and Video with devices synchronised to the millisecond. A 'Session Creator' to control the collective playback and final selection of content for a playlist. A simple idea, create shared playlists between people within proximity with all devices playing in concert.</p>
								<p class="light-txt">However the idea quicky grew into a platfom we hope to be used globally for Media Producer Broadcasting, Synchronised Meditations, Yoga and Sound Therapy.</p>
								<p class="light-txt">The basic premise: Sound is the first sense we develop as infants and is the most powerful sense we have to illicit emotions. Using basic principles in physics such as harmonics, constructive wave formations, Binareal Beats (perceived sound diferentials) and the fact that the interaction of individuals when combined produce a total effect that is greater than the sum of any individual contributor (synergism) we can create a stronger manifestation of these emotions with participants across the globe. Very Hippy, we know, but we have high hopes for this as a medium for Global Healing.</p>
							</div>
							
								<div class="m-top-10 inline-block p-bot-50">
									<a href="/coming-soon/" class="btn btn-small btn-light-solid">Support &nbsp;&nbsp;<i class="fa fa-bitcoin"></i></a>
									<a href="/coming-soon/" class="btn btn-small btn-light-solid ">More Info</a>	                            							                            							
								</div>								                
							
                        </div>


                        <div class="col-md-6">
                            <div class="responsive-img  app-img-bot p-top-30 p-bot-30">
								<img src="{{ site.static-image-url }}/app/awakening-app.png" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--feature-->

	    	<!--feature-->
            <div class="page-content-sm compact  dark-feature dark-feature-bg" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="responsive-img app-img-bot p-bot-50">
								<img src="{{ site.static-image-url }}/app/p2p-banking.png" alt="" />
                            </div>
                        </div>                    
                        <div class="col-md-6 ">
							<div class="heading-title-alt m-bot-0 p-top-20">
								<h3>P2P Banking : Fee-Free Money</h3>
								<p>A new Transactions Platform based on a derivative of the <a class="secondary-theme-color" title="The blockchain is an incorruptible digital ledger of transactions that can be programmed to record not just financial transactions but virtually everything of value.">Blockchain technology</a></strong> made infamous by Bitcoin, the first truly global shared ledger.</p>
								<p>The API allows transactions to flow between parties within 1-2 seconds to facilitate POS transactions instead of longer clearance times with current cryptocurrencies.</p>
								<p>Not a Cryptocurrency. It can be used with any asset-class or crypto-contract, but a technology to facilitate transaction validation using Multi-party Cyptographic Protocols  between 'trusted parties' instead of CPU work across the network.</p>
							</div>
							<div class="featured-item feature-outline m-bot-30 m-top-20">
								<div class="icon"><i class="icon-ecommerce_graph_increase"></i></div>
									<div class="title text-uppercase"><h4>Personal Banking. Any Asset</h4>
								</div>
								<div class="desc">Designed for personal banking, POS transactions and investment. An ability to transact using any asset class - Currencies, Derivatives, Comodities, Debt Instruments, Micro-Investments, micro-loans...etc.</div>
							</div>
							<div class="featured-item feature-outline m-bot-30">
								<div class="icon"><i class=" fa fa-lock "></i></div>
									<div class="title text-uppercase"><h4>Open Source. Secure Blockchain</h4>
								</div>
								<div class="desc">Platform integrated with Blockchain technology.<br />Open-Source API means complete transparency.</div>					
							</div>						      							 
							<div class="m-top-30 m-bot-50 inline-block">
								<a href="/coming-soon/" class="btn btn-small btn-border-secondary-color ">Support &nbsp;&nbsp;<i class="fa fa-bitcoin"></i></a>
								<a href="/coming-soon/" class="btn btn-small btn-border-secondary-color">More Info</a>	                            							
							</div>								                   
                        </div>


                    </div>
                </div>
            </div>
            <!--feature-->


		</section>