<section id="latest-adventures" class="body-content p-top-30">
	<div class="page-content-sm">
		<div class="container">

			<!-- Heading -->
			<div class="heading-title-alt text-center">
				<h3 class="text-uppercase">Latest Articles</h3>
			</div>
			<!-- Heading -->


    {% assign excluded = '' %}

    {% assign section = '' %}
    {% assign target = 'featured' %}
    {% assign order = 'reverse' %}
    {% assign total = 9 %}

    {% include blog/section.html %}

	{% assign _galleries = 'top100' | split: ',' %}
	{% include front-page/image-carousel.html %}

		</div>
	</div>
</section>
