<section id="latest-adventures" class="body-content p-top-30">
	<div class="page-content-sm">
		<div class="container">

			<!-- Heading -->			
			<div class="heading-title-alt text-center">
				<h3 class="text-uppercase">Latest Adventures</h3>
				<p class="half-txt p-top-10">Our Adventures and Insights from the road</p>
			</div>
			<!-- Heading -->			
			

    {% assign excluded = '' %}

    {% assign section = '' %}
    {% assign target = 'adventure' %}
    {% assign total = 13 %}

    {% include blog/section.html %}

	{% assign _galleries = 'top100' | split: ',' %}
	{% include front-page/image-carousel.html %}

	{% comment %}
    {% assign section = 'Featured Articles' %}
    {% assign target = 'featured' %}
    {% assign total = 3 %}

    {% include blog/section.html %}

	{% endcomment %}
		</div>
	</div>
</section>