


    <div class="testimonial-parallax banner-para5">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--testimonial start-->
                        <div id="testimonial-5" class="text-center light-txt big-icon ">
                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/testimonial/1.png" alt="">
                                </div>

                                <div class="content">
                                    <p class="half-txt">
                                        Immensely happy with the quality of product that we recieved during his contract with us.
                                        We will definitely work together again in the future. 
                                    </p>
                                    <div class="testimonial-meta">
                                        - Michael Goldsmith -
                                        <span>Head of Technology, Fairfax Digital</span>
                                    </div>
                                </div>
                            </div>



                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/testimonial/2.jpg" alt="">
                                </div>
                                <div class="content">
                                    <p class="half-txt"> - I am still waiting on this guys testimonial but I'm sure he's just super busy -</p>
                                    <div class="testimonial-meta">
                                        - Bryan Guenther -
                                        <span>IT Director, Rightship</span>
                                    </div>
                                </div>
                            </div>



                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/testimonial/3.jpg" alt="">
                                </div>
                                <div class="content">
                                    <p class="half-txt">In a high pressure financial sector where security and agility are key, Jordan was a huge asset that proved his worth many times over.</p>
                                    <div class="testimonial-meta">
                                        - Elliot Parker -
                                        <span>CEO, Hybrid Corp</span>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/testimonial/4.jpg" alt="">
                                </div>
                                <div class="content">
                                    <p class="half-txt">It was my very great pleasure to work with Jordan. He was always keen to help, and make a positive impact on the team. An excellent technologist, and an excellent man. I wish him all the very best with this exciting new initiative.</p>
                                    <div class="testimonial-meta">
                                        - Andrew Bachelard -
                                        <span>Head of Digital Assets, Fairfax Media</span>
                                    </div>
                                </div>
                            </div>                            

                        </div>
                        <!--testimonial end-->
                    </div>
                </div>
            </div>
        </div>
    </div>